@media (max-width:600px){
    body{
        margin: 0;
        font-family:Libre Baskerville;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-image: url('https://img.freepik.com/premium-photo/search-bar-icon-search-3d-render-minimal-design-black-background_41204-14026.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
    }
    .home,.contacts,.myworks,.skills,.studies{
        height: 100%;
        width: 100%;
        margin-top:5%;
      }
      .home{
        padding:10%;
        margin-top:10%;
      }
    nav{
        height:15%;
        border-bottom: 1px solid white;
        margin:0 3rem 0 2rem;
      }
      .navbar-brand{
        color:white;
        font-size: 2rem;
        font-family: Kenia;
        padding:0px 5px 10px 15px;
        margin: 20px 0 0 0;
        background: linear-gradient(to right, orange,white,limegreen);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
      }
      nav button span{
        font-size: 15px;
      }
      .nav-link{
        font-size: .7rem;
        cursor: pointer;
        margin-top: 1rem;
        display:inline-block;  
        color: white; 
      }
    .home img{
      display: block;
      margin:auto;
      height: 180px;
      width: 180px;
    }
    .about{
        color:white;
        font-family: Gloock;
        width: fit-content;
        height: fit-content;        
        text-align: center;
        padding:10px;
        margin: 10% auto;
      }
      .about h1{
        line-height: 1.6;
        font-size: 1.3rem;
      }
      .about p{
        font-family: Lobster;
        font-size: 3.5rem;
        color:orangered;
        font-size: 2rem;
      }
      span{
        color:aqua;
      }
      #studies{
        font-size: 20px;
      }
      .ug,.sec,.high{
        font-size: 12px;
        border:none;
      }
      .ug:after,.sec:after,.high:after {
        content: '';
        display: block;
        height: 1px;
        background: white;
      }
      h4{
        font-size: 14px;
        color:darksalmon;
      }
      .skills{
        color: white;}
      .tab{
        margin-right: 20%;
        text-shadow: -6px 3px 0 black;
      }
      .tabs{
        cursor: pointer;
        color: white;
        font-size: 18px;
        padding:10px;
        margin:2rem 0rem 3rem 4rem;  
        font-family: Black Ops One;
      }
      .active{    
        border-bottom: 2px solid sandybrown;
        color:sandybrown;
      }
      .content{
        margin-left: 15%;
        padding-bottom: 10%;
      }
      .program li{
        font-size: 15px;
      }
      .projects li{
        font-size: 20px;
      }
      .projects p{    
        font-size: 15px;
      }
      .note{
        font-size: 11px;
        width:fit-content;
        margin:5%;
        padding:25px;
      }
      .contact{
        padding:10px;
        width: max-content;
        margin-left:30px;
        margin-top: 3rem;
      }
      .about-me{
        width:fit-content;
        font-size: 11px;
        margin:2rem;
      }
      i{
        padding:10px;
        color:white;
        font-size: 13px;
      }
      .social-icons a i{
        font-size: 20px;
        margin:20px;
        padding: 0;
      }
      .btn{
        display: block;
        margin:1rem auto;
        width: fit-content;
      }
      ul{
        margin: 10px;
        font-size: 15px;
      }
      .social-icons i{
        margin: 0;
        font-size: 20px;
      }
      .contact h1{
        margin-bottom: 2rem;
        font-size: 1.5rem;
      }
      #works{
        font-size: 25px; 
      }
      .work-list{
        width: fit-content;
        margin: auto;
      }
      .work{
        border-radius: 5%;
        position: relative;
        overflow: hidden;
        margin:2rem 0 0 20px;
      }
      .work img{
        width: 250px;
        height: 200px;
      }
      .layer{
        font-size: 10px;
      }
      .layer h3,.layer p{
        width:80%;
      }
      .layer h3{
        font-size:15px;
        margin-bottom: 20px;    
        font-family: Paytone One;
      }
      .layer p{
        font-family: Courgette;
        font-size:10px;
      }
      .layer a i{
        color:black;
        font-size: 13px;
      }
      .layer a{
        margin-top: 20px;
        background: #fff;
        border-radius: 40%;
        padding:0px;
      }
      .myworks .btn{
        margin:3rem auto auto;
        font-size: 13px;
      }
      .MoreWorks .work img{
        width: 250px;
        height: 200px;
      }
      .MoreWorks .layer a{
        margin-top: 20px;
        background: #fff;
        border-radius: 40%;
      }
      .MoreWorks .layer a i{
        color:black;
        font-size: 15px;
      }
  }