@media (max-width:600px){
    body{
        margin: 0;
        font-family:Libre Baskerville;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-image: url('https://img.freepik.com/premium-photo/search-bar-icon-search-3d-render-minimal-design-black-background_41204-14026.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
    }
    .home,.contacts,.myworks,.skills,.studies{
        height: 100%;
        width: 100%;
      }
      .home{
        padding:10%;
      }
    nav{
        height:15%;
        border-bottom: 1px solid white;
        margin:0 3rem 0 2rem;
      }
      .navbar-brand{
        color:white;
        font-size: 3rem;
        font-family: Kenia;
        padding:0px 5px 10px 15px;
        margin: 20px 0 0 0;
        background: linear-gradient(to right, aqua,white,aqua);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
      }
      nav button span{
        font-size: 15px;
      }
      .nav-link{
        font-size: .7rem;
        cursor: pointer;
        margin-top: 1rem;
        display:inline-block;
        color: white; 
      }
      .nav-link:hover{
        color:white;
      }
      .nav-link::after {
        content: '';
        display: block;
        width: 0;
        height: 2.5px;
        background: white;
        transition: width .3s; 
        
      }
      .nav-link:hover::after {
        width: 100%;
      }
    .home img{
      display: block;
      margin:auto;
      height: 230px;
      width: 230px;
    }
    .about{
        color:white;
        font-family: Gloock;
        width: fit-content;
        height: fit-content;        
        text-align: center;
        padding:10px;
        margin: 10% auto;
      }
      .about h1{
        line-height: 1.6;
        font-size: 1.5rem;
      }
      .about p{
        font-family: Lobster;
        font-size: 3.5rem;
        color:orangered;
        font-size: 2rem;
      }
      span{
        color:crimson;
      }
      #studies,#skills{
        font-size: 30px;
      }
      .ug,.sec,.high{
        font-size: 15px;
      }
      h4{
        font-size: 17px;
        color:darksalmon;
      }
      .skills{
        color: white;}
      .tab{
        margin-right: 20%;
        text-shadow: -6px 3px 0 black;
      }
      .tabs{
        cursor: pointer;
        color: white;
        font-size: 20px;
        padding:10px;
        margin:2rem 0rem 3rem 4rem;  
        font-family: Black Ops One;
      }
      .active{    
        border-bottom: 2px solid sandybrown;
        color:sandybrown;
      }
      .content{
        margin-left: 15%;
        padding-bottom: 10%;
      }
      .program li{
        font-size: 15px;
      }
      .projects li{
        font-size: 20px;
      }
      .projects p{    
        font-size: 15px;
      }
      .note{
        font-size: 15px;
        width:fit-content;
        margin:5%;
        padding:25px;
      }
      .contact{
        padding:10px;
        width: fit-content;
        margin-left:30px;
      }
      .about-me{
        width:fit-content;
        font-size: smaller;
        margin:2rem;
      }
      i{
        padding:10px;
        color:white;
        font-size: 15px;
      }
      .social-icons i{
        font-size: 20px;
        margin:15px;
      }
      .btn{
        margin:0 0 0 5rem;
      }
      ul,.social-icons{
        margin-left: 2rem;
      }
      .contact h1{
        margin-bottom: 2rem;
        font-size: 2rem;
      }
  }